body{
  margin:0;
  font-family:Poppins;
  background:linear-gradient(135deg,#020617,#0f172a);
  color:#fff;
}

header{
  padding:15px;
  text-align:center;
  font-size:22px;
  background:#020617;
  border-bottom:1px solid #1e293b;
}

/* LAYOUT */
.container{
  display:flex;
  height:calc(100vh - 60px);
}

/* PANEL */
.panel{
  width:300px;
  padding:15px;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
  border-right:1px solid #1e293b;
}

/* TEXTAREA */
textarea{
  width:100%;
  height:150px;
  border-radius:12px;
  padding:10px;
  border:none;
  margin-bottom:10px;
}

/* FILE */
input{
  margin-bottom:10px;
}

/* BUTTONS */
.buttons{
  display:flex;
  flex-wrap:wrap;
}

button{
  margin:5px;
  padding:8px 12px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:linear-gradient(45deg,#22c55e,#4ade80);
  font-weight:bold;
}

/* SLIDES */
#slidesContainer{
  flex:1;
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
  overflow:auto;
}

/* CARD */
.slideBox{
  background:rgba(255,255,255,0.05);
  border-radius:15px;
  padding:10px;
  transition:0.3s;
  border:2px solid transparent;
}

.slideBox:hover{
  transform:scale(1.05);
}

.slideBox.selected{
  border:2px solid #22c55e;
}

canvas{
  width:100%;
  border-radius:10px;
}
